{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div id="jumbo" class="jumbotron">

        <span class="page-name">index.html</span>

        <a class="btn btn-outline-dark" id="btn-new-repo" href="#" title="add new repository">
            <i class='fa fa-plus-circle'></i>
            menu1
        </a>
        <a title="" class="btn btn-primary" href="" style="margin: 5px 1px 1px 15px;">
            <i class='fas fa-download'></i>
            CSV
        </a>  

    </div>
</div>
{% endblock %}